/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}
p{
    text-align: justify;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    border: solid black 5px;
    margin: 25px;
    padding: 25px;
    
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
    
}

header p {
    text-align: center;
    font-size: 18px;
}

/* Navigation */
nav {
    background: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #77aaff;
}

/* Sections */
section {
    padding: 20px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

/* Skills */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #444444;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Contact */
#contact p {
    font-size: 18px;
}

#contact a {
    color: #77aaff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
footer> div.container{
    border: none;

}
footer p {
    margin: 0;
}
#Portfolio{
    border: none
}

img{
    height: 350px;
    width: auto;
    align-items: end;
    margin-right: 25px;
}

#row{
    display: flex;
}
#col1{
    flex-basis: auto;
    flex-grow: 1;
}
#col2{
    flex-basis: auto;
    flex-grow: 1;
}